
:root {
  --head-background-color: #a8c5e1;
  --heading-text-color: #13528A;
  --heading-font-family: 'Roboto Condensed', sans-serif;
  --paragraph-font-color: #000000;
  --padding: 1rem;
  --border: 1px solid #000;
}
a{
text-decoration: none;
}

.hero img{
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  background-color: #7fa5af;
  top: 200px;
  right: 500px;
}

article {
  position: absolute;
  background-color: rgb(42, 115, 174); 
  bottom: 5px;
  right: 500px;
  box-shadow: 0px 4px 6px #a8c5e1;
  

  }

article img{
  float: right;
  margin: 10px;
}