
:root {
  --head-background-color: #a8c5e1;
  --heading-text-color: #13528A;
  --heading-font-family: 'Roboto Condensed', sans-serif;
  --paragraph-font-color: #000000;
  --padding: 1rem;
  --border: 1px solid #000;
}
a{
text-decoration: none;
}

.hero img{
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  background-color: #7fa5af;
  top: 200px;
  right: 500px;
}


article {
  position: absolute;
  background-color: rgb(42, 115, 174); 
  bottom: 5px;
  right: 500px;
  box-shadow: 0px 4px 6px #a8c5e1;

  }

article img 
{
  float: right;
  margin: 10px;
}
header {
  display: grid;
  grid-template-columns:auto 1fr;
background-color: #9ac2e5;
align-items:center;
padding:10px 20px;

}

.container a {
color: rgb(28, 32, 67);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
}



.container {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  
}
.logo
{
  width: 100px;
  height: auto;
}

 .history-section
 {
  display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    align-items: center;
 } 

 .history-section img
 {
  width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    
 }



.adventure-grid 
{
  display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 2rem;

}
 .adventure-grid figure {
   margin: 0;
   text-align: center;
   grid-template-columns: 1fr 1fr 1fr;
 }
.photo-gallery
{
  display: flex;
  justify-content: space-evenly;
}
 .adventure-grid img {
   width: 100%;
   height: 150px;
   object-fit: cover;
   border-radius: 4px;
 }
 
 
 footer 
 {
display: flex;
justify-content: flex-end;
align-items: center;
 }