
*
{
  margin: 0;
  padding: 0.5em;
  box-sizing: border-box;
}

body{
  font-family: Roboto, Condensed;
  font: size 1em; ;
  color:rgb(15, 15, 184) ;
  background-color:rgb(244, 238, 238) ;
}
 header{
  margin: 0; auto;
  width: 100ox;
 }

 h1
 {
  margin: o;
  font-size: 1em;
  text-align:center ;
  color: rgb(10, 10, 160);
 }

 form
 {
  width: em ;
  margin:0 auto ;
  padding: 0.em;
  border: 1px solid rgb(5, 5, 86) ;
  border-radius: 0.5em;
  background-color: #ffff;
  display: grid;

 }

 fieldset
{
  display: grid;
  gap: 0,5em;
}
legend
{
  padding: 0;
  color: navy;
  font-size: 1.3em;
}