
/* setting up the roots */
:root{
  --primary-color: #333;
  --secondary-color: #eee;
  font-style: normal;
}
main {
  max-width: 840px;
}
/* commenting on image */
aside {
  width: 20em;
  padding: 1em;
  background-color: #eee;
  margin: 1rem;
  border: 1px solid rgb(000/0.2);
  /*1️⃣*/
  background: #eee;
  text-align: center;
  color: #333;
}

aside img {
  width: 200px;
  height: auto;
}

main img {
  width: 150px;
  height: auto;
}

p {
  padding: 0;
}

footer {
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}
header, footer {
 max-width: 840px;
  margin: auto;
}

nav{
  background-color: cadetblue;
  padding: 10px;
  display: flex;
justify-content: space-evenly;
align-items: center;
}

nav a {
  display: block;
padding: 0.5rem;
text-decoration: none;
font-style: oblique;
font-weight: 500;
}

main, grid, footer